*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* navbar related style */
nav{
    background-color: #1A0B2E;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.hamburger{
    display: none;
}
.h1-1{
    color: #FFFFFF;
    font-weight: 900;
}
nav .menu{
    display: flex;
    gap: 30px;
    color: #FFFFFF;
    list-style-type: none;
}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 10px;
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

/* banner related style */

.banner-title{
    margin-top: 40px;
    width: 270px;
    height: auto;
    position: relative;
    right: -500px;
    top: 100px;
}

.banner-container{
    max-width: 1600px;
    height: 600px;
    background-image: url(B13-A02-TechWave/assets/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-container .circle-setting{
    width: 270px;
    height: auto;
    position: relative;
    right: -500px;
    top: 100px;
}
.banner-container .mic{
    width: 100px;
    height: auto;
    position: relative;
    right: -310px;
    bottom: -40px;
}
.banner-container span{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 20%;
    display: inline-block;
    position: absolute;
    right: 515px;
    bottom: 380px;
}
.banner-details{
    width: 350px;
    height: 350px;
}

.h1-3{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 900;
}
.p-1{
    margin-top: 10px;
    color: #ffffffa5;
    font-size: 16px;
    font-weight: 500;
}
.btn-3{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #00FF88;
    border: #00FF88;
    cursor: pointer;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 5px;
    padding: 6px 10px;
}
.btn-2{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    padding: 12 20;
    color: #FFFFFF;
    border-radius: 10px;
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    padding: 2px 0;
}

/* about section related style */
#About{
    width: 100%;
}
#About .about-container{
    text-align: center;
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
}
#About .about-container .about-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}

.about-h1-tag{
    gap: 80px;
    font-size: 48px;
    font-weight: 700;
    color: #00FF88;
}
.about-h1-tag-2{
    font-size: 60px;
    margin-bottom: 16px;
}
.about-p-tag{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
    gap: 80px;
}
.section-heading h1{
    font-size: 48px;
    color: #FFFFFF;
    line-height: auto;
}
.section-heading p{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    gap: 80px;
}
.h1-2{
    font-weight: 900;
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
}

 /* service and grid section */

#grid{
    background-color: #230E3D;
    padding: 120px 200px;
}
#grid .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#grid .container .grid-info-1{
    grid-row: span 2;
    padding: 40px 40px;
    margin-right: 15px;
    margin-bottom: 20px;
    text-align: start;
    border-radius: 40px;
    background-color: #351165;
}
#grid .container .grid-info-2{
    grid-column: span 2;
    padding: 40px 40px;
    margin-bottom: 20px;
    text-align: start;
    border-radius: 40px;
    background-color: #351165;

}
#grid .container .grid-info-3{
    grid-column: span 2;
    margin-bottom: 20px;
    padding: 40px 40px;
    background-color:#351165;
    border-radius: 40px;

}
 #grid .container .grid-info-4{
    grid-column: span 2;
    margin-right: 20px;
    padding: 40px 40px;
    background-color: #351165;
    border-radius: 40px;
 }
 #grid .container .grid-info-5{
    grid-column: span 1;
    padding: 40px 40px;
    background-color: #351165;
    border-radius: 40px;
 }
.grid-h1{
    font-size: 48px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
}
.grid-h1-2{
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    margin: 16px auto;
}
.grid-p{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff87;
}

#podcast .podcast-container{
    background-color:#1A0B2E;   
}

.podcast-container .podcast-details{
    display: flex;
    max-width: 1200px;
}
.iframe-function{
    background-color: #250D44;
    border-radius: 10px;
    padding: 24px;
    margin-right: 20px;
}
.podcast-h1{
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
    
}
.podcast-h1-2nd{
    font-size: 24px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-align: start;
}
.podcast-p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}
.test{

    padding: 48.5px 40px 192.5px 64px;
}
.test-2{
 padding: 48.5px 40px 92.5px 44px;
}
.Host{
    display: flex;
    border-radius:20px;
    background-color: #533C72;
   
}
.host-h1{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.Host .host-img{
    align-content: center;
    margin-left: 20px;
}
.host-social{
    
    margin-left: 260px;
    margin-top: -80px;
}
.host-social img{
    margin-left: 8px;
    width: 25px;
    height: 25px;
    border: 1px solid #9331ef;
    border-radius: 5px;
}

/* footer ralated style */
#footer-container{
    background-image: url(B13-A02-TechWave/assets/footer-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.footer-text{
    padding: 120px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 32px;
    color: #FFFFFF;
    font-weight: 900;
}
.footer-link{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 40px auto;
}
.footer-p-tag{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff87;
    
}

.footer-details{
width: 100%;
vertical-align: middle; 
}

/* responsive related section */

@media screen and (max-width: 768px) {
    /* navbar and banner related quary */
    .title{
        margin-left: -150px;
    }
    .hamburger{
        display: block;
        margin-left: 190px;
    }
    nav .menu{
        display: none;
    }
    .banner-container .circle-setting{
    width: 100px;
    height: auto;
    position: relative;
    right: -193px;
    top: 25px;
    }
    .banner-container .mic{
    width: 40px;
    height: auto;
    position: relative;
    right: -120px;
    bottom: -2px;
    }
    /* .banner-title{
    margin-top: 40px;
    width: 2px;
    height: auto;
    position: relative;
    right: -100px;
    top: -110px;
    } */
    .banner-container span{
    font-size: 10px;
    font-weight: 400;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 10%;
    display: inline-block;
    position: absolute;
    right: 160px;
    bottom: 480px;
    }

    /* about section related style */

    .about-h1-tag-2{
        font-size: 2px;
        /* align-items: end; */
    }
    #About .about-container .about-info{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
    }
    .grid-info-1,
    .grid-info-2,
    .grid-info-3,
    .grid-info-4,
    .grid-info-5{
    grid-row: span 3 !important;
    padding: 40px 40px;
    margin-right: 15px;
    margin-bottom: 20px;
    text-align: start;
    border-radius: 40px;
    background-color: #351165;
    }
}