*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* navbar related style */
nav{
    background-color: #1A0B2E;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.hamburger{
    display: none;
}
.h1-1{
    color: #FFFFFF;
    font-weight: 900;
}
nav .menu{
    display: flex;
    gap: 30px;
    color: #FFFFFF;
    list-style-type: none;
}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 10px;
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

/* banner related style */

.banner-title{
    margin-top: 40px;
    width: 270px;
    height: auto;
    position: relative;
    right: -500px;
    top: 100px;
}

.banner-container{
    max-width: 1600px;
    height: 600px;
    background-image: url(B13-A02-TechWave/assets/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-container .circle-setting{
    width: 270px;
    height: auto;
    position: relative;
    right: -500px;
    top: 100px;
}
.banner-container .mic{
    width: 100px;
    height: auto;
    position: relative;
    right: -310px;
    bottom: -40px;
}
.banner-container span{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #00FF88;
    border-radius: 20%;
    display: inline-block;
    position: absolute;
    right: 515px;
    bottom: 380px;
}
.banner-details{
    width: 350px;
    height: 350px;
}

.h1-3{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 900;
}
.p-1{
    margin-top: 10px;
    color: #ffffffa5;
    font-size: 16px;
    font-weight: 500;
}
.btn-3{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #00FF88;
    border: #00FF88;
    cursor: pointer;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 5px;
    padding: 6px 10px;
}
.btn-2{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    padding: 12 20;
    color: #FFFFFF;
    border-radius: 10px;
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    padding: 2px 0;
}

/* about section related style */
#About{
    width: 100%;
}
#About .about-container{
    text-align: center;
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
}
#About .about-container .about-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}

.about-h1-tag{
    gap: 80px;
    font-size: 48px;
    font-weight: 700;
    color: #00FF88;
}
.about-h1-tag-2{
    font-size: 60px;
    margin-bottom: 16px;
}
.about-p-tag{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
    gap: 80px;
}
.section-heading h1{
    font-size: 48px;
    color: #FFFFFF;
    line-height: auto;
}
.section-heading p{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    gap: 80px;
}
.h1-2{
    font-weight: 900;
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
}
